body {
	display: inline;
	font: small arial, sans-serif;
	text-align: center;
}

#header {
	height: 100px; width: 100%;
	padding: 0 -125px 0 20px;
}

.clickables {
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0px;
	font: small arial;
}

#gmail {
	vertical-align: middle;
}

#Images {

}

#apps {
	height: 30px; width: 30px;
	background-position: -31px -1600px;
	background-size: 92px 2541px;
	opacity: .55;
	vertical-align: middle;
	background-image: url(../Images/v2_f80843e3.png);
	background-position: -35px -311px
}

#notifications {
	height: 20px; width: 20px;
	vertical-align: middle;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.55);
	background-position: -35px -1675px;
	background-image: url(../Images/v2_f80843e3.png);
	background-size: 92px 2541px;
	display: block;
	font: small arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 5px;
	padding: 0 2px;
	text-align: center;
	color: #fff;
}

#account {
	border-radius: 100%;
	height: 32px;
	vertical-align: middle;
	background-color: purple;
	content: url(https://lh3.googleusercontent.com/-rCqNbfaboy4/AAAAAAAAAAI/AAAAAAAAAAA/APaXHhSRylJFItdKQW1_z4-gg1b4tR9gnw/s64-c-mo/photo.jpg);
}

#logo {
	margin: 40px 5px 20px 0;
	text-align: center;
	display: block;
}

#logo-sub {
	color: #4285f4;
	font-size: 16px;
	position: relative;
	margin-left: 715px;
	margin-top: -20px;
	white-space: nowrap;
	width: 0;
	display: block;
}


#search_bar {
	background-color: #fff;
	border: 1px solid rgb(185,185,185);
	border-radius: 1px;
	border-top-color: rgb(160,160,160);
	cursor: text;
	display: inline-block;
	font: 18px arial,sans-serif;
	height: 36px;
	line-height: 36px;
	width: 670px;
	max-width: 672px;
	position: relative;
	text-align: center;
	margin: 0px 300px;
}

#search_bar:hover {
	border-color: #4285f4;
}
}

#search_bar:active {
	border-color: #4285f4;
}

#searchText {
	font-size: 16px;
	display: block;
	float: left;
	color: #bbb;
	margin-left: 9px;
	right: 9px;
	top: 0;
	margin-top: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#microphone {
	display: block;
	font-size: 12px;
	height: 21px; width: 17px;
	padding: 15px 6px 0;
	background-size: 24px 24px;
	background-image: url('../Images/microphone.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;	
	right: 0;
	cursor: pointer;
}

#search_bar input {
	height: 34px;
	width: 654px;
	opacity: 0;
	background: transparent;
	border: none;
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	margin: 0 0 0 0px;
	outline: none;
	padding: 0 8px;
	position: absolute;
	top: 2px;
	width: 100%;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	font: 18px Arial;
}

#search_bar input:hover {
	opacity: 1.0;
	background-color: #fff;
	border-color: #4285f4;
}

#search_bar input:active {
	opacity: 1.0;
	background-color: #fff;
}
